body {
	border-top: #F14144 solid 5px;
	margin: 0px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #454545;
}

/*----------------------------------
------------NAVIGATION--BAR---------
------------------------------------*/
.inter_links_top {
	margin-top: 0px;
	float: left;
	width: 25%;
}
.inter_links_bottom {
	margin-top: 0px;
	float: left;
	width: 25%;
	border-top: #F14144 solid 5px;
}

.inter_links_top a:hover {
    background-color: #F1F1F1;
}
.inter_links_bottom a:hover {
    background-color: #DDDDDD;
}

.inter_links_top a {
    display: block;
    color: #454545;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 2em;
	z-index: 98;
	background-color: white;
}
.inter_links_bottom a {
    display: block;
    color: #454545;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size: 2em;
	z-index: 98;
	background-color: white;
}

/*-------Links--------*/

.external_links {
	color: #F14144;
	text-decoration: inherit;
}

/*--------No-longer-links-------*/

#main_title {
	font-size: 5em;
	margin: 5em 5em 2em 1em;
}

.titleLetter {
	color: #F14144;
}

.firstPicSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)), url(images/camping.jpg);
  background-size: cover;
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /*border-bottom: #F14144 solid 5px;*/
}

/*----Picture Section---------*/
/* Watch out for this one*/
.firstPicture {
  margin-top: 0px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.picTitle {
  margin: 0em;
  font-size: 5rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.picText {
  margin: 0em;
  font-size: 1.7em;
  color: white;
  text-shadow: 1px 1px 2px #000000;
}


/*------Second Picture------*/

.secondPicSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)), url(images/boats.jpg);
  background-size: cover;
  height: 90vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-top: #F14144 solid 5px;
	border-bottom: #F14144 solid 5px;
}

.secondPicture {
  position: absolute;
  top: 208%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/*------Third Picture------*/

.thirdPicSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.5)), url(images/french_debating_team.jpg);
  background-size: cover;
  height: 90vh;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-top: #F14144 solid 5px;
	border-bottom: #F14144 solid 5px;
}

.thirdPicture {
  position: absolute;
  top: 405%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/*------Waffle Picture------*/

.wafflePicSection {
  background-image: linear-gradient(rgba(0, 0, 0, 0.01),rgba(0, 0, 0, 0.02)), url(images/waffles_poster.png);
  background-size: cover;
  height: 90vh;
	/*background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	border-top: #F14144 solid 5px;
	border-bottom: #F14144 solid 5px;
}

.wafflePicture {
  position: absolute;
  top: 435%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/*----------Only Text Section--------*/

.textSection {
  text-align: center;
  margin: 7%;
}
h2 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
.onlyTextSection-p {
  margin: 0;
  font-size: 2rem;
}
